* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

.mondrain {
  /* margin: 0;
  padding: 0; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-auto-rows: 60px;
  grid-auto-flow: dense;
}
.mondrain > div {
  padding: 1em;
}
